/* タグ */

* {
    margin: 0px;
    padding: 0px;
}


/* Google Chrome用 - スクロールバー非表示 */

body::-webkit-scrollbar {
    display: none;
}


/* IE,Edge用 - スクロールバー非表示 */

body {
    -ms-overflow-style: none;
}


/* Safai用 - スクロールバー非表示 */

body::-webkit-scrollbar {
    display: none;
}


/* mainタグ */

main {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* imgタグ */

img {
    width: 100%;
    height: 100%;
    /* 中央でトリミング */
    object-fit: cover;
}


/* パソコンで見たときは"pc"のclassがついた画像が表示される */

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}


/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */

@media only screen and (max-width: 480px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}


/* videoタグ */

video {
    width: 100%;
    height: 100%;
    /* 中央でトリミング */
    object-fit: cover;
}


/* オーバーレイ用 START */


/* ナビゲーション用の文字のスタイルを設定します */

.overlay p {
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
    margin: 20px;
    font-family: 'Spectral', serif;
    text-align: center;
}

@media screen and (max-width: 959px) {
    .overlay p {
        color: #ffffff;
        font-size: 40px;
        cursor: pointer;
        margin: 20px;
        font-family: 'Spectral', serif;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .overlay p {
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
        margin: 20px;
        font-family: 'Spectral', serif;
        text-align: center;
    }
}


/* ナビゲーションの文字を選択した場合のアクションを設定します */

.overlay p:hover {
    color: aqua;
}


/* ナビゲーションの文字を中央に寄せる設定をします */

.container {
    /* 縦方向に中央寄せする場合は、[top, bottom, left, right]を0に設定し、marginを自動調整します。*/
    /* また、[width, height]は指定する必要があります */
    position: absolute;
    width: auto;
    height: auto;
}


/* オーバーレイ用 END */


/* HOME - START */


/* トップ画面の文字全体に対する設定を行います */

#top_message {
    position: absolute;
    bottom: 25%;
    width: 100%;
    text-align: center;
    font-family: 'Spectral', serif;
    color: white;
}

@media screen and (max-width: 959px) {
    #top_message {
        position: absolute;
        bottom: 15%;
        width: 100%;
        text-align: center;
        font-family: 'Spectral', serif;
        color: white;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    #top_message {
        position: absolute;
        bottom: 15%;
        width: 100%;
        text-align: center;
        font-family: 'Spectral', serif;
        color: white;
    }
}


/* [official website]の文字の設定をします */

#official_website {
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 35px;
}

@media screen and (max-width: 959px) {
    #official_website {
        position: relative;
        top: 0px;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    #official_website {
        position: relative;
        top: 0px;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 20px;
    }
}


/* [Yuki Matsuura]の文字の設定をします */

#my_name {
    position: absolute;
    top: 50px;
    width: 100%;
    height: auto;
    font-size: 65px;
}

@media screen and (max-width: 959px) {
    #my_name {
        position: relative;
        top: 0px;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    #my_name {
        position: relative;
        top: 0px;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 25px;
    }
}


/* HOME - END */


/* PROFILE - START */


/* PROFILE - END */


/* オープニング用 - START */


/* オーバーレイ用の画面です */

.opening {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
}


/* アニメーションする文字の設定をします */

#typewriter {
    position: relative;
    height: 50px;
    color: white;
    font-family: 'Spectral', serif;
    font-size: 40px;
}

@media screen and (max-width: 959px) {
    .content h2 {}
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    #typewriter {
        position: relative;
        height: 50px;
        color: white;
        font-size: 30px;
    }
}


/* openingのオーバーレイ用の画面にアニメーション(フェードアウト)をつけます */

.fadeout {
    opacity: 0;
    /* アニメーションの時間 */
    transition: all 0.8s;
}


/* オープニング用 - END */


/* ナビゲーション用 - START */

#navigation {
    /* テキストの左にある黒い点を削除します */
    /* floatを使う場合、最上位タグでｍ、marginのオートとwidthをliの幅に併せて設定する必要があります */
    list-style: none;
    /* 親要素の幅-指定した要素の幅を算出し、適用されます */
    margin: auto;
    /* liの横幅×表示させる数 */
    width: 900px;
}

#navigation li {
    /* 各listの横幅 */
    width: 180px;
    text-align: center;
    /* 回り込み（オブジェクトの右側に並べていく） */
    float: left;
}

#navigation li a {
    /* テキストの下線部を削除します */
    text-decoration: none;
    /* テキストの色 */
    color: white;
    font-size: 205px;
    font-family: 'Spectral', serif;
}


/* ナビゲーション用 - END */


/* 共通用 */


/* [RESESRCH] [ABOUT] などの文字の設定をします */

.sub_title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 50px;
    font-family: 'Spectral', serif;
}

@media screen and (max-width: 959px) {
    .sub_title {
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 50px;
        font-family: 'Spectral', serif;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .sub_title {
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 30px;
        font-family: 'Spectral', serif;
    }
}


/* 詳細ボタンの全体レイアウト */

.button {
    position: fixed;
    top: 80%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    z-index: 10;
    font-family: 'Spectral', serif;
}

@media screen and (max-width: 959px) {
    .button {
        position: absolute;
        top: 85%;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size: 25px;
        font-family: 'Spectral', serif;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .button {
        position: absolute;
        top: 85%;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        font-family: 'Spectral', serif;
    }
}


/* 詳細ボタンの形状 */

a.btn-border {
    border: 1px solid #fff;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 3px;
    color: #000;
    transition: 0.5s;
}


/* 詳細ボタンのマウスオーバーの際の設定 */

a.btn-border:hover {
    color: #000;
    background: #fff;
}


/* 詳細ボタンを押下した際に表示するオーバーレイ */

.detail_fadein {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    /* アニメーションの時間(フェードアウト) */
    transition: all 0.8s;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 500;
    visibility: hidden;
    /* 上下中央に寄せるおまじない */
    display: flex;
    /* 左右中央揃え */
    justify-content: center;
    /* 上下中央揃え */
    align-items: center;
}


/* 詳細ボタンを押下した際に表示するオーバーレイ（実際に表示するときの設定） */

.detail_fadein.is-open {
    opacity: 1;
    /* アニメーションの時間(フェードイン) */
    transition: all 0.8s;
    visibility: visible;
}


/* 詳細画面のレイアウト設定 */

.detail_content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.9;
    overflow-y: auto;
    color: #fff;
}


/* スクロールバーの議事要素 */

.detail_content::-webkit-scrollbar {
    /* スクロールバーを非表示にします */
    width: 0px;
}


/* 閉じるボタンの設定 */

.close {
    /* アイコン全体の幅 */
    width: 50px;
    /* アイコン全体の高さ */
    height: 50px;
    /* 位置を一定にします */
    position: fixed;
    /* topと画面の距離を設定します */
    top: 10px;
    /* rightと画面の距離を設定します */
    right: 20px;
    /* カーソルを置いたときに、マウス表示を変更します*/
    cursor: pointer;
    /* opacityを活用すると子要素にも影響を与えるため、rgbを使う */
    z-index: 330;
}

@media screen and (max-width: 959px) {
    .close {
        /* アイコン全体の幅 */
        width: 50px;
        /* アイコン全体の高さ */
        height: 50px;
        /* 位置を一定にします */
        position: fixed;
        /* topと画面の距離を設定します */
        top: 15px;
        /* rightと画面の距離を設定します */
        right: 15px;
        /* カーソルを置いたときに、マウス表示を変更します*/
        cursor: pointer;
        /* opacityを活用すると子要素にも影響を与えるため、rgbを使う */
        z-index: 100;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .close {
        /* アイコン全体の幅 */
        width: 50px;
        /* アイコン全体の高さ */
        height: 50px;
        /* 位置を一定にします */
        position: fixed;
        /* topと画面の距離を設定します */
        top: 15px;
        /* rightと画面の距離を設定します */
        right: 15px;
        /* カーソルを置いたときに、マウス表示を変更します*/
        cursor: pointer;
        /* opacityを活用すると子要素にも影響を与えるため、rgbを使う */
        z-index: 330;
    }
}

.close_bar {
    /* バーそれぞれの幅 */
    width: 36px;
    /* バーそれぞれの高さ */
    height: 2px;
    /* 位置をmenu_icon内での絶対位置として定義します */
    position: absolute;
    /* アニメーションの時間 */
    transition: all 0.3s;
    opacity: 1;
}

.close_bar1 {
    /* バーの色 */
    background: white;
    margin-left: 7px;
    -webkit-transform: rotate(45deg) scaleX(1.0);
    margin-top: 25px;
}

.close_bar2 {
    /* バーの色 */
    background-color: white;
    margin-left: 7px;
    -webkit-transform: rotate(-45deg) scaleX(1.0);
    margin-top: 25px;
}


/* 詳細画面の中身の設定です */

.content {
    color: #fff;
    font-family: 'Spectral', serif;
}


/* 詳細画面内のh1タグ([RESEARCH] [ABOUT] など)の設定です */

.content h1 {
    font-size: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

@media screen and (max-width: 959px) {
    .content h1 {}
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .content h1 {
        font-size: 25px;
        text-align: center;
    }
}


/* 詳細画面内のh2タグ([松浦 裕久] [研究概要] など)の設定です */

.content h2 {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 959px) {
    .content h2 {}
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .content h2 {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* 詳細画面内のpタグの設定です */

.content p {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 959px) {
    .content p {}
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .content p {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* 詳細画面に文字を表示する画面の設定です */

.text_area {
    position: relative;
    top: 0px;
    left: 20%;
    width: 60%;
    text-align: left;
}

@media screen and (max-width: 959px) {
    .text_area {}
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .text_area {
        position: relative;
        top: 0px;
        left: 10%;
        width: 80%;
        text-align: left;
    }
}


/* 詳細画面内のulタグの設定です */

.text_area ul {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 959px) {
    .content ul {}
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .content ul {
        font-size: 14px;
        padding-left: 30px;
        padding-right: 30px;
    }
}


/* 詳細画面内のaタグの設定です */

.text_area a {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 959px) {
    .content a {}
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .content a {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* 共通用 -END  */


/* Swiper用 - START */

.swiper-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 500;
}


/* Swiper用 - END */


/* オーバーレイ用 - START */


/* ナビゲーション用のオーバーレイ表示画面です */

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 100;
    visibility: hidden;
    /* 上下中央に寄せるおまじない */
    display: flex;
    /* 左右中央揃え */
    justify-content: center;
    /* 上下中央揃え */
    align-items: center;
}


/* アニメーション(フェードアウト)を行います */

.overlay_off {
    visibility: visible;
    /* アニメーションの時間 */
}


/* オーバーレイ用 - END */


/* ハンバーガーメニュー用 - START */

.menu_icon {
    /* アイコン全体の幅 */
    width: 50px;
    /* アイコン全体の高さ */
    height: 50px;
    /* 位置を一定にします */
    position: fixed;
    /* topと画面の距離を設定します */
    top: 10px;
    /* rightと画面の距離を設定します */
    right: 20px;
    /* カーソルを置いたときに、マウス表示を変更します*/
    cursor: pointer;
    /* opacityを活用すると子要素にも影響を与えるため、rgbを使う */
    background: rgb(255, 255, 255, 0);
    z-index: 120;
}

@media screen and (max-width: 959px) {
    .menu_icon {
        /* アイコン全体の幅 */
        width: 50px;
        /* アイコン全体の高さ */
        height: 50px;
        /* 位置を一定にします */
        position: fixed;
        /* topと画面の距離を設定します */
        top: 15px;
        /* rightと画面の距離を設定します */
        right: 15px;
        /* カーソルを置いたときに、マウス表示を変更します*/
        cursor: pointer;
        /* opacityを活用すると子要素にも影響を与えるため、rgbを使う */
        background: rgb(255, 255, 255, 0);
        z-index: 100;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .menu_icon {
        /* アイコン全体の幅 */
        width: 50px;
        /* アイコン全体の高さ */
        height: 50px;
        /* 位置を一定にします */
        position: fixed;
        /* topと画面の距離を設定します */
        top: 15px;
        /* rightと画面の距離を設定します */
        right: 15px;
        /* カーソルを置いたときに、マウス表示を変更します*/
        cursor: pointer;
        /* opacityを活用すると子要素にも影響を与えるため、rgbを使う */
        background: rgb(255, 255, 255, 0);
        z-index: 600;
    }
}

.menu_bar {
    /* バーそれぞれの幅 */
    width: 36px;
    /* バーそれぞれの高さ */
    height: 2px;
    /* 位置をmenu_icon内での絶対位置として定義します */
    position: absolute;
    /* アニメーションの時間 */
    transition: all 0.3s;
    opacity: 1;
}

.menu_bar1 {
    /* menu_iconからのtop_marginを設定します */
    /* バーの色 */
    background: white;
    margin-top: 10px;
    margin-left: 7px;
}

.menu_bar2 {
    /* menu_iconからのtop_marginを設定します */
    /* バーの色 */
    background-color: white;
    margin-top: 24px;
    margin-left: 7px;
}

.menu_bar3 {
    /* menu_iconからのtop_marginを設定します */
    /* バーの色 */
    background-color: white;
    margin-top: 38px;
    margin-left: 7px;
}

.menu_bar1_active {
    -webkit-transform: rotate(45deg) scaleX(1.0);
    margin-top: 25px;
}

.menu_bar2_active {
    opacity: 0;
}

.menu_bar3_active {
    -webkit-transform: rotate(-45deg) scaleX(1.0);
    margin-top: 25px;
}


/* マウスオーバーの際のアクションを設定します */

.menu_icon_animate {
    background-color: #fff;
}


/* ハンバーガーメニュー用 - END */